<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
</head>
<body>
    <h1>Do you think that smile is pretty?</h1>
    <img src="smile.jpg" alt="cute boy" style=" padding: 10px; border: 2px solid; border-color:purple " />
   
    <h2>To sign up for the national smiles competition <a href="file:///C:/Users/%D7%9C%D7%99%20%D7%A1%D7%99%D7%99%D7%92/Desktop/web/Contactus.html">click here</a> </h2>

</body>
</html>